/* ----------
    RESET
-----------*/
*{
    box-sizing: border-box;
}

/* ----------
   CONTAINERS
-----------*/
.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}