body{
    color: white;
}

/* --------------
    COLUMS STYLE
---------------*/
[class*="col"]{
    background-color: #0091FF;
    min-height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid white;
}

.col-nested{
    background-color: lightgreen;
    border: 1px solid #0091FF;

}

.col-padding{
    padding: 5px;
}